@charset "UTF-8";
body {
  background: #E5E5E5;
}

.container {
  max-width: 1440px;
  margin: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.btn-green {
  height: 46px;
  color: #F7F9FA;
  background-color: #2FA84F;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto";
  border: none;
}

.btn-green--small {
  font-size: 12px;
}

.header-chevron-right {
  cursor: pointer;
  display: inline-block;
  margin-left: 9px;
  margin-right: 10px;
  width: 5px;
  height: 8px;
  background-image: url(../img/header-chevron-right.svg);
}

.chevron-down {
  cursor: pointer;
  display: inline-block;
  margin-left: 9px;
  width: 13px;
  height: 7px;
  background-image: url(../img/chevron_down.png);
}

.chevron-left {
  cursor: pointer;
  display: inline-block;
  width: 5px;
  height: 8px;
  margin-right: 8px;
  background-image: url(../img/chevron_left.png);
}

.chevron-down-accounts {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url(../img/chevron-down-accounts.png);
}

.chevron-up-accounts {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url(../img/chevron-up-accounts.png);
}

.chevron-down-faq {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 7px;
  background-image: url(../img/chevron-down-faq.png);
}

.expander {
  cursor: pointer;
  display: inline-block;
  width: 7px;
  height: 12px;
  background-image: url(../img/chevron-right-expander.png);
}

.shrinker {
  cursor: pointer;
  display: inline-block;
  width: 7px;
  height: 12px;
  background-image: url(../img/chevron-left-shrinker.png);
}

.youtube-icon {
  cursor: pointer;
  display: inline-block;
  background-image: url(../img/youtube-icon.png);
  width: 21px;
  height: 16px;
  background-repeat: no-repeat;
}

.instagram-icon {
  cursor: pointer;
  display: inline-block;
  background-image: url(../img/instagram-icon.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.vk-icon {
  cursor: pointer;
  display: inline-block;
  background-image: url(../img/vk-icon.png);
  width: 20px;
  height: 12px;
  background-repeat: no-repeat;
}

.gmail-icon {
  cursor: pointer;
  display: inline-block;
  background-image: url(../img/gmail-icon.png);
  width: 20px;
  height: 16px;
}

.telegram-icon {
  cursor: pointer;
  display: inline-block;
  background-image: url(../img/telegram-icon.png);
  width: 18px;
  height: 16px;
}

.set-avatar {
  background: -webkit-gradient(linear, left top, left bottom, from(#96DF1E), to(#64EA2D));
  background: linear-gradient(180deg, #96DF1E 0%, #64EA2D 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

.set-description {
  background: -webkit-gradient(linear, left top, left bottom, from(#15FB43), to(#10E55C));
  background: linear-gradient(180deg, #15FB43 0%, #10E55C 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

.post-video {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4601), to(#FF7101));
  background: linear-gradient(180deg, #FF4601 0%, #FF7101 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

.post-photo {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF1201), to(#FF3901));
  background: linear-gradient(180deg, #FF1201 0%, #FF3901 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

.set-link {
  background: -webkit-gradient(linear, left top, left bottom, from(#19D467), to(#31A886));
  background: linear-gradient(180deg, #19D467 0%, #31A886 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

.post-stories {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB601), to(#E7CD08));
  background: linear-gradient(180deg, #FFB601 0%, #E7CD08 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

.liking {
  background: -webkit-gradient(linear, left top, left bottom, from(#BF01E1), to(#D601D2));
  background: linear-gradient(180deg, #BF01E1 0%, #D601D2 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

.subscribe {
  background: -webkit-gradient(linear, left top, left bottom, from(#DE01CD), to(#F601BE));
  background: linear-gradient(180deg, #DE01CD 0%, #F601BE 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

.commenting {
  background: -webkit-gradient(linear, left top, left bottom, from(#7F1EEA), to(#B701E6));
  background: linear-gradient(180deg, #7F1EEA 0%, #B701E6 100%);
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: 36px;
  padding-top: 7.5px;
  padding-bottom: 6.5px;
  padding-left: 12px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 44px;
  height: 32px;
  background-color: #DCF7E3;
  border-radius: 5px;
  margin-left: 24px;
}

.change-path-icon {
  cursor: pointer;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../img/change-path-icon.svg);
}

.gray-wrap {
  width: 37px;
  height: 30px;
  background: #F1F3F4;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.pale-wrap {
  width: 37px;
  height: 30px;
  background: #DCF7E3;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.question-mark {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../img/question-mark.svg);
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

.insta {
  display: inline-block;
  background-image: url(../../img/INSTAGRAM.png);
  background-repeat: no-repeat;
  width: 277px;
  height: 35px;
}

.insttr {
  display: inline-block;
  background-image: url(../img/INSTTRAFFIC.png);
  background-repeat: no-repeat;
  width: 206px;
  height: 24px;
}

.insttr-sm {
  display: inline-block;
  background-image: url(../img/INSTTRAFFIC-sm.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 18px;
}

.rubles-70 {
  display: inline-block;
  width: 68px;
  height: 26px;
  background-image: url(../img/70_₽.png);
  background-repeat: no-repeat;
}

.rubles-39 {
  display: inline-block;
  width: 68px;
  height: 26px;
  background-image: url(../img/39_₽.png);
  background-repeat: no-repeat;
}

.rubles-35 {
  display: inline-block;
  width: 68px;
  height: 26px;
  background-image: url(../img/35_₽.png);
  background-repeat: no-repeat;
}

.rubles-30 {
  display: inline-block;
  width: 68px;
  height: 26px;
  background-image: url(../img/30_₽.png);
  background-repeat: no-repeat;
}

.page {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px auto;
      grid-template-columns: 80px auto;
      grid-template-areas: "menu header" "menu content";
  -ms-grid-rows: 56px auto;
      grid-template-rows: 56px auto;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.page.active {
  -ms-grid-columns: 236px auto;
      grid-template-columns: 236px auto;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
  background: red;
}

.header__wrap {
  background: #3A3A3A;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__settings {
  text-decoration: none;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  color: #E5E5E5;
}

.header__left-side, .header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-side {
  margin-right: 31px;
}

.header__button {
  text-decoration: none;
  padding: 4px 0px 0px 8px;
  width: 82px;
  height: 24px;
  margin-left: 46px;
  background: #5A5F61;
  border-radius: 4px;
  font-family: "Roboto Bold";
  font-size: 12px;
  line-height: 14px;
  color: #F7F9FA;
}

.header__main-page {
  text-decoration: none;
  font-family: "Roboto Bold";
  font-size: 12px;
  line-height: 14px;
  color: #E5E5E5;
  margin-left: 36px;
}

.header__user-image {
  background-image: url(../img/user-image.png);
  width: 24px;
  height: 24px;
  margin-left: 28px;
}

.header__user-name {
  margin-left: 16px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #E5E5E5;
}

.header__notifications {
  background-image: url(../img/notifications-image.png);
  width: 17px;
  height: 19px;
  background-repeat: no-repeat;
}

.header__logo {
  margin-left: 24px;
  width: 110px;
  height: 30px;
  background-image: url(../img/header-insttraffic.png);
  background-repeat: no-repeat;
}

.sidebar {
  font-family: "Roboto Bold";
  font-size: 16px;
  line-height: 19px;
  color: #F7F9FA;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: menu;
  position: relative;
  background: #3E4345;
}

.page.active .sidebar__settings-top {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__settings-top:hover, .page.active .sidebar__logo-category:hover,
.page.active .sidebar__log-category:hover,
.page.active .sidebar__prices-category:hover, .page.active .sidebar__faq-category:hover,
.page.active .sidebar__contacts-category:hover,
.page.active .sidebar__randomizer-category:hover, .page.active .sidebar__partners-category:hover, .page.active .sidebar__all-blocks-category:hover,
.page.active .sidebar__users-category:hover {
  background: -webkit-gradient(linear, left top, right top, from(#CFF37D), to(#7DE88C));
  background: linear-gradient(to right, #CFF37D 0%, #7DE88C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page.active .sidebar__logo-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__log-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__prices-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__faq-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__contacts-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__randomizer-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__partners-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__all-blocks-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.page.active .sidebar__users-category {
  margin-left: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #F7F9FA;
}

.sidebar__settings-bottom li a.active {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #F7F9FA;
}

.sidebar__settings-bottom li a {
  text-decoration: none;
  padding-left: 64px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #C6CACC;
}

.sidebar__settings-bottom li a.active, .sidebar__settings-bottom li a:hover {
  color: #3E4345;
  background: #F7F9FA;
}

.sidebar__settings-bottom {
  padding: 0;
}

.page.active .sidebar .sidebar__categories {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0px;
}

.page.active .sidebar .sidebar__categories .sidebar__text {
  margin-left: 12px;
}

.page.active .sidebar .sidebar__categories .sidebar__contacts-image + .sidebar__text {
  margin-left: 5px;
}

.page.active .sidebar .sidebar__categories .sidebar__settings .sidebar__text {
  margin-left: 0px;
}

.page.active .sidebar .sidebar__categories .sidebar__settings .sidebar__settings-top .sidebar__text {
  margin-left: 13px;
}

.sidebar__settings-bottom li {
  padding-left: 0px;
}

.sidebar__settings-bottom ul {
  padding-left: 0px;
}

.sidebar .sidebar__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 30px;
}

.sidebar__categories li {
  margin-bottom: 24px;
}

.sidebar__categories li:first-child {
  margin-bottom: 45px;
}

.sidebar__settings-bottom li:first-child {
  margin-bottom: 5px;
}

.sidebar__settings-top {
  margin-bottom: 11px;
}

.sidebar__settings-bottom li {
  margin-bottom: 5px;
}

.sidebar .header__logo {
  display: none;
}

.sidebar__settings-bottom {
  display: none;
}

.sidebar .sidebar__text {
  display: none;
}

.sidebar__categories > li:not(.sidebar__settings) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__expander {
  position: absolute;
  height: 40px;
  background: #F1F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0px;
  right: 0;
  left: 0;
  width: 80px;
}

.sidebar__shrinker {
  display: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.page.active .sidebar__shrinker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 236px;
  background: #F1F3F4;
  height: 40px;
}

.sidebar__settings-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__blocks-image {
  display: inline-block;
  background-image: url(../img/sidebar-blocks.svg);
  width: 23px;
  height: 23px;
}

.sidebar__settings-image {
  display: inline-block;
  background-image: url(../img/sidebar-settings.svg);
  width: 25px;
  height: 26px;
}

.sidebar__log-category .sidebar__text.active, .sidebar__prices-category .sidebar__text.active,
.sidebar__faq-category .sidebar__text.active,
.sidebar__contacts-category .sidebar__text.active,
.sidebar__randomizer-category .sidebar__text.active,
.sidebar__partners-category .sidebar__text.active,
.sidebar__all-blocks-category .sidebar__text.active,
.sidebar__users-category .sidebar__text.active {
  background: -webkit-gradient(linear, left top, right top, from(#CFF37D), to(#7DE88C));
  background: linear-gradient(to right, #CFF37D 0%, #7DE88C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar__log-image {
  display: inline-block;
  background-image: url(../img/sidebar-log.svg);
  width: 26px;
  height: 23px;
}

.sidebar__log-image.active {
  background-image: url(../img/sidebar-log-active.svg);
}

.sidebar__prices-image.active {
  background-image: url(../img/sidebar-prices-active.svg);
}

.sidebar__faq-image.active {
  background-image: url(../img/sidebar-FAQ-active.svg);
}

.sidebar__contacts-image.active {
  background-image: url(../img/sidebar-contacts-active.svg);
}

.sidebar__randomizer-image.active {
  background-image: url(../img/sidebar-randomizer-active.svg);
}

.sidebar__partners-image.active {
  background-image: url(../img/sidebar-partners-active.svg);
}

.sidebar__users-image.active {
  background-image: url(../img/users-icon-sidebar-active.svg);
}

.sidebar__prices-image {
  display: inline-block;
  background-image: url(../img/sidebar-prices.svg);
  width: 27px;
  height: 26px;
}

.sidebar__faq-image {
  display: inline-block;
  background-image: url(../img/sidebar-FAQ.svg);
  width: 26px;
  height: 26px;
}

.sidebar__contacts-image {
  display: inline-block;
  background-image: url(../img/sidebar-contacts.svg);
  width: 33px;
  height: 30px;
}

.sidebar__randomizer-image {
  display: inline-block;
  background-image: url(../img/sidebar-randomizer.svg);
  width: 23px;
  height: 23px;
}

.sidebar__partners-image {
  display: inline-block;
  background-image: url(../img/sidebar-partners.svg);
  width: 26px;
  height: 26px;
}

.sidebar__users-image {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.sidebar__all-blocks-image {
  display: inline-block;
  background-image: url(../img/sidebar-all-blocks.svg);
  width: 23px;
  height: 23px;
}

.sidebar__categories, .sidebar__categories ul {
  list-style-type: none;
}

.content {
  background: #E5E5E5;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  position: relative;
}

.contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__link:nth-child(2) {
  margin-top: 32px;
}

.contacts__right-column {
  margin-left: 27px;
  margin-top: 66px;
}

.contacts__telegram {
  display: inline-block;
  cursor: pointer;
  width: 33px;
  height: 30px;
  background-image: url(../img/telegram-contacts.svg);
  margin-right: 29px;
}

.contacts__telegram-text {
  display: inline-block;
  width: 138px;
  height: 12px;
  cursor: pointer;
  background-image: url(../img/INSTTRAFFIC-contacts.svg);
  background-repeat: no-repeat;
}

.contacts__gmail {
  display: inline-block;
  cursor: pointer;
  width: 34px;
  height: 27px;
  margin-right: 29px;
  background-image: url(../img/gmail-contacts.svg);
}

.contacts__gmail-text {
  display: inline-block;
  cursor: pointer;
  width: 137px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(../img/NSTTRAFFIC2020@gmail.com-contacts.svg);
}

.contacts__title {
  height: 60px;
  border-bottom: 1px solid #2FA84F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1156px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
          box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
  font-family: "Roboto Bold";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.contacts__form {
  margin-top: 24px;
  padding-top: 24px;
  padding-left: 16px;
  width: 684px;
  height: 427px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
          box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
}

.contacts__wrap {
  padding: 24px;
}

.contacts__name {
  display: block;
  padding: 12px 0px 12px 16px;
  width: 314px;
  height: 46px;
  margin-top: 16px;
  background: #F1F3F4;
  border: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.contacts__tel {
  padding: 12px 0px 12px 16px;
  display: block;
  margin-top: 16px;
  background: #F1F3F4;
  border: none;
  width: 196px;
  height: 46px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.contacts__your-question {
  padding: 12px 0px 12px 16px;
  display: block;
  margin-top: 16px;
  background: #F1F3F4;
  border: none;
  width: 550px;
  height: 150px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  resize: none;
}

.contacts__sub-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  min-height: 38px;
  margin-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__rights {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 14px;
  color: #151515;
  margin-left: 12px;
}

.contacts__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 360px;
  height: 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=contacts.css.map */