.randomizer {
    &__wrap {
        padding:24px;
    }
    &__title {
        width: 1156px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        font-family: "Roboto Bold";
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        display: flex;
        align-items: center;
        padding-left: 12px;
        border-bottom: 1px solid #2FA84F;
    }
    &__bottom {
        margin-top: 24px;
    }
    &__start-and-stop {
        width: 330px;
        height: 184px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        padding: 16px 24px;
    }
    &__button-start {
        font-family: "Roboto";
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #F7F9FA;
    }
    &__button-stop {
        padding: 12px 24px;
        background: #DCF7E3;
        border-radius: 5px;
        font-family: "Roboto";
        margin-top: 16px;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #3E4345;
    }
    &__bottom-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bottom-items--1 {
        margin-top: 14px;
    }
    &__bottom-items--2 {
        margin-top: 24px;
    }
    &__amount-of-strings {
        font-family: Roboto;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
    &__amount-of-strings-number {
        padding: 4px 16px;
        background: #F1F3F4;
        border-radius: 5px;
        font-family: "Roboto";
        font-size: 16px;
        width: 59px;
        height: 30px;
        border: none;
        line-height: 22px;
        color: #000000;
    }
    &__hashtag {
        width: 312px;
        height: 30px;
        background: #F1F3F4;
        border-radius: 5px;
        border: none;
    }
    &__from-and-to {
        width: 566px;
        height: 108px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        padding: 19px 24px;
    }
    &__check {
        margin-right: 11px;
    }
    &__loader-image {
        display: block;
        background-image: url(../img/randomizer__loader-image.gif);
        width: 220px;
        height: 25px;
    }
    &__from-and-to-row {
        &--1 {
        font-family: "Roboto Bold";
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        }
        &--2 {
            margin-top: 24px;
        }
    }
    &__file-1 {
        width: 566px;
        height: 145px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        padding: 16px 24px;
    }
    &__file-1-title {
        font-family: "Roboto Bold";
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    &__file-1-path {
        font-family: "Roboto Bold";
        font-size: 12px;
        line-height: 14px;
        color: #000000;
    }
    &__file-1-row {
        display: flex;
        align-items: center;
        &--2, &--3 {
            margin-top: 16px;
        }
    }
    &__file-2 {
        margin-top: 16px;
        width: 566px;
        height: 145px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
        padding: 16px 24px;
    }
    &__file-2-title {
        font-family: "Roboto Bold";
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    }
    &__file-2-path {
        font-family: "Roboto Bold";
        font-size: 12px;
        line-height: 14px;
        color: #000000;
    }
    &__file-2-row {
        display: flex;
        align-items: center;
        &--2, &--3 {
            margin-top: 16px;
        }
    }
    &__add-file {
        display: flex;
        align-items: center;
        width: 566px;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    &__bottom {
        display: flex;
    }
    &__col--2 {
        margin-left: 24px;
    }
    .change-path-icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 32px;
        background: #DCF7E3;
        border-radius: 5px;
        margin-left: 24px;
    }
    &__amount-of-hash-tags {
        display: flex;
        align-items: center;
    }
    .gray-wrap {
        width: 37px;
        height: 30px;
        background: #F1F3F4;
        border-radius: 5px;
        text-align: center;
        margin-left: 8px;
        border: none;
    }
    .gray-wrap:first-child {
        margin-right: 8px;
    }
}